#services {
    background: var(--primary-bg-color);
    color: var(--color-white);
}

.services__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.services__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.service__card-text {
    text-align: center;
}

.service__card-text h3 {
    font-size: 1.5rem;
}

.service__card-text p {
    margin: 0.5rem 0;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-p);
}

.card__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 10rem;
    background: var(--color-white);
    color: var(--primary-bg-color);
    font-size: 5rem;
    border-radius: 10rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {
    .services__header h2 {
        font-size: 2.5rem;
    }

    .services__cards {
        flex-direction: row;
        gap: 2.5rem;
        margin: 4rem 0;
    }

    .service__card-text p {
        margin: 0.5rem 0;
        font-family: var(--font-secondary);
        font-weight: var(--font-weight-p);
        font-size: 1rem;
    }

    .decoration-line {
        width: 50%;
    }

    .card__circle {
        height: 15rem;
        width: 15rem;
        font-size: 7rem;
    }
  }


  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .services__header h2 {
        font-size: 3rem;
    }

    .services__cards {
        flex-direction: row;
        gap: 3rem;
        margin: 4rem 0;
    }

    .decoration-line {
        width: 50%;
    }

    .card__circle {
        height: 15rem;
        width: 15rem;
        font-size: 7rem;
    }
  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .services__header h2 {
        font-size: 3rem;
    }

    .services__cards {
        flex-direction: row;
        gap: 3rem;
        margin: 4rem 0;
    }

    .decoration-line {
        width: 50%;
    }

    .card__circle {
        height: 15rem;
        width: 15rem;
        font-size: 7rem;
    }
 }
