#about {
    background: var(--primary-bg-color);
    color: var(--color-white);
}

.about__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#about__splash-image {
    width: 15rem;
    position: absolute;
    top: 1;
    right: 1;
    margin-left: 5rem;
}

#about__lightning-image-top {
    width: 5rem;
    position: absolute;
    top: 1;
    right: 0;
    margin-right: 5rem;
  }

  #about__lightning-image-bottom {
    width: 5rem;
    position: absolute;
    top: 1;
    left: 0;
    margin-left: 6rem;
    transform: rotate(180deg);
  }

  .about-image-container {
    border: Solid var(--color-white) 6px;
    border-radius: 10rem 10rem 0 0; 
    width: 50%;
    margin: 10rem 0;
  }

  .about__text-content h2 {
    font-size: 2rem;
  }

  .about__text-content p {
    font-family: var(--font-secondary);
    font-size: 0.9rem;
    font-weight: var(--font-weight-p);
  }

  .decoration-line {
    background: var(--color-white);
    height: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 70%;
  }

  .button__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .about__container {
    flex-direction: row;
    gap: 4rem;
  }

  #about__splash-image {
    width: 18rem;
    right: 0;
    margin-right: 35%;
  }

  #about__lightning-image-top {
    margin-right: 4rem;
    transform: rotate(18deg);
  }

  #about__lightning-image-bottom {
    margin-left: 60%;
    margin-top: 0.5rem;
  }

  .about__text-content {
    width: 70%;
    padding-right: 1rem;
  }

  .about__text-content p {
    font-size: 1rem;
  }

  .about-image-container {
    width: 30%;
  }

  .button__container {
    justify-content: space-between;
  }

  .button__container > button {
    width: 50%;
  }


  .decoration-line-long-white {
    background: var(--color-white);
    height: 0.1rem;
    width: 45%;

  }
}

  /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .about__container {
    flex-direction: row;
    gap: 4rem;
  }

  #about__splash-image {
    width: 20rem;
    right: 0;
    margin-right: 45%;
  }

  #about__lightning-image-top {
    margin-right: 5rem;
    transform: rotate(15deg);
  }

  #about__lightning-image-bottom {
    margin-left: 62%;
    margin-top: 1rem;
  }

  .about__text-content {
    width: 70%;
    padding-right: 1rem;
  }

  .about__text-content p {
    font-size: 1rem;
  }

  .about-image-container {
    width: 30%;
  }

  .button__container {
    justify-content: space-between;
  }

  .button__container > button {
    width: 50%;
  }


  .decoration-line-long-white {
    background: var(--color-white);
    height: 0.1rem;
    width: 45%;

  }
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .about__container {
    flex-direction: row;
    gap: 4rem;
  }

  #about__splash-image {
    width: 20rem;
    right: 0;
    margin-right: 50%;
  }

  #about__lightning-image-top {
    margin-right: 8rem;
  }

  #about__lightning-image-bottom {
    margin-left: 62%;
    margin-top: 1rem;
  }

  .about__text-content {
    width: 70%;
    padding-right: 1rem;
  }

  .about__text-content p {
    font-size: 1rem;
  }

  .about-image-container {
    width: 30%;
  }

  .button__container {
    justify-content: space-between;
  }

  .button__container > button {
    width: 50%;
  }


  .decoration-line-long-white {
    background: var(--color-white);
    height: 0.1rem;
    width: 45%;

  }
}