.contact__section {
    padding-top: 3rem;
    padding-bottom: 8rem;
}

.contact__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
}

.contact__header hr {
    background: var(--primary-bg-color);
    border: 0.05rem solid var(--primary-bg-color);
    height: 0.2rem;
    width: 50%;
}

.contact__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__item {
    font-family: var(--font-secondary);
    height: 3rem;
    border: 2px solid var(--primary-bg-color);
    border-radius: 2rem;
    padding-left: 1rem;
    margin: 0.5rem 0;
}


.contact__body-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact__socials {
    display: flex;
    flex-direction: row;
}

.form__body-top {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
}

.form-submit {
    font-family: var(--font-primary);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background: var(--primary-bg-color);
    color: var(--color-white);
    padding: 0.6rem 0.8rem;
    border-radius: 2rem;
    transition: var(--transition);
    margin: 0.5rem 0;
}

.form-submit:hover {
    background: var(--accent-color);
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition);
  }
  

.form__item-textarea {
    font-family: var(--font-secondary);
    border: 2px solid var(--primary-bg-color);
    border-radius: 1rem;
    word-wrap: break-word;
    height: 10rem;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    resize: none;
}

.contact__socials {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.contact__socials a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    
}

.contact__socials svg {
    font-size: 1.5rem;
}

.contact__socials a > h5 {
    display: none;
}

/* X-Large devices (larger desktops, 1200px and up) */
@media (min-width: 1200px) {
    .contact__body {
        display: flex;
        width: 100%;
        height: 80%;
        justify-content: center;
      }
      
      .contact__body-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
      }
      
      .contact__section {
        display: flex;
        flex-direction: column;
        background: var(--color-white);
        align-items: center;
        width: 100%;
        padding-top: 0rem;
      }
      
      .contact__header {
        display: flex;
        text-transform: uppercase;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 4rem;
      }
      
      .contact__header h1 {
        font-family: var(--font-primary);
        font-size: var(--font-size-md-variant);
      }
      
      
      .contact__header hr {
        width: 10%;
        margin: 1rem 0;
        background: var(--primary-bg-color);
        border: 0.05rem solid var(--primary-bg-color);
        border-radius: 1rem;
      }
      /* Contact Form ==== */
      
      .form__body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .form__body-bottom {
        display: flex;
        flex-direction: column;
        justify-content: start;
      }
      
      .form__body-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      
      
      .form__item {
        font-family: var(--font-secondary);
        font-size: 1rem;
        height: 3rem;
        border: 2px solid var(--primary-bg-color);
        border-radius: 2rem;
        padding-left: 1rem;
        margin: 0.3rem 0;
      }
      
      .form__item-long {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      
      .form__item-textarea {
        font-family: var(--font-secondary);
        font-size: 1rem;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 1rem 1rem;
        text-align: start;
        writing-mode: horizontal-tb;
        border: 2px solid var(--primary-bg-color);
        border-radius: 1rem;
        resize: none;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      
      .form__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
      }
      
      .form__footer-line {
        background: var(--primary-bg-color);
        height: 0.1rem;
        width: 70%;
        margin: 0 1.5rem;
        border-radius: 1rem;
      }
      
      .form-submit {
        font-family: var(--font-primary);
        font-weight: 600;
        letter-spacing: 0.1rem;
        background: var(--primary-bg-color);
        color: var(--color-white);
        text-transform: uppercase;
        width: fit-content;
        padding: 0.6rem 0.8rem;
        border-radius: 2rem;
        transition: 0.2s ease-out;
      }
      
      .form-submit:hover {
        background: var(--accent-color);
        color: var(--color-white);
        transition: 0.2s ease all;
        cursor: pointer;
      }
      
      .contact__body-right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 3rem;
      }
      
      .contact__socials {
        display: flex;
        justify-items: center;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
        margin-bottom: 3rem;
      }
      
      .contact__socials a {
        display: flex;
        align-items: center;
        justify-content: start;
    
        width: 100%;
      }
      
      .social__icon-text {
        font-family: var(--font-primary);
        color: var(--primary-bg-color);
        letter-spacing: 0.1rem;
        margin-left: 1rem;
      }
      
      .social__icon-text:hover {
        color: var(--accent-color);
      }
      
      .social-icon {
        color: var(--primary-bg-color);
        font-size: var(--font-size-socials);
      }
      
      .social-icon:hover {
        color: var(--accent-color);
      }
      
      #first-name {
        margin-right: 1rem;
      }

      #last-name {
        margin-left: 1rem;
      }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .contact__body {
        display: flex;
        width: 100%;
        height: 80%;
        justify-content: center;
      }
      
      .contact__body-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
      }
      
      .contact__section {
        display: flex;
        flex-direction: column;
        background: var(--color-white);
        align-items: center;
        width: 100%;
        padding-top: 0rem;
      }
      
      .contact__header {
        display: flex;
        text-transform: uppercase;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 4rem;
      }
      
      .contact__header h1 {
        font-family: var(--font-primary);
        font-size: var(--font-size-md-variant);
      }
      
      
      .contact__header hr {
        width: 10%;
        margin: 1rem 0;
        background: var(--primary-bg-color);
        border: 0.05rem solid var(--primary-bg-color);
        border-radius: 1rem;
      }
      /* Contact Form ==== */
      
      .form__body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .form__body-bottom {
        display: flex;
        flex-direction: column;
        justify-content: start;
      }
      
      .form__body-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      
      
      .form__item {
        font-family: var(--font-secondary);
        font-size: 1rem;
        height: 3rem;
        border: 2px solid var(--primary-bg-color);
        border-radius: 2rem;
        padding-left: 1rem;
        margin: 0.3rem 0;
      }
      
      .form__item-long {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      
      .form__item-textarea {
        font-family: var(--font-secondary);
        font-size: 1rem;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 1rem 1rem;
        text-align: start;
        writing-mode: horizontal-tb;
        border: 2px solid var(--primary-bg-color);
        border-radius: 1rem;
        resize: none;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      
      .form__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
      }
      
      .form__footer-line {
        background: var(--primary-bg-color);
        height: 0.1rem;
        width: 70%;
        margin: 0 1.5rem;
        border-radius: 1rem;
      }
      
      .form-submit {
        font-family: var(--font-primary);
        font-weight: 600;
        letter-spacing: 0.1rem;
        background: var(--primary-bg-color);
        color: var(--color-white);
        text-transform: uppercase;
        width: fit-content;
        padding: 0.6rem 0.8rem;
        border-radius: 2rem;
        transition: 0.2s ease-out;
      }
      
      .form-submit:hover {
        background: var(--accent-color);
        color: var(--color-white);
        transition: 0.2s ease all;
        cursor: pointer;
      }
      
      .contact__body-right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 3rem;
      }
      
      .contact__socials {
        display: flex;
        justify-items: center;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
        margin-bottom: 3rem;
      }
      
      .contact__socials a {
        display: flex;
        align-items: center;
        justify-content: start;
    
        width: 100%;
      }
      
      .social__icon-text {
        font-family: var(--font-primary);
        color: var(--primary-bg-color);
        letter-spacing: 0.1rem;
        margin-left: 1rem;
      }
      
      .social__icon-text:hover {
        color: var(--accent-color);
      }
      
      .social-icon {
        color: var(--primary-bg-color);
        font-size: var(--font-size-socials);
      }
      
      .social-icon:hover {
        color: var(--accent-color);
      }
      
      #first-name {
        margin-right: 1rem;
      }

      #last-name {
        margin-left: 1rem;
      }
 }